html{
	margin: 0;
}

td{
	
	text-align: center;
	font-size: 24px;
}
table{
	border: 1px solid yellow;
	width: 100%;
}

#carousel-1{
	border: 1px solid black;
	position: relative;
	width: 96%;
	height: 70%;
	margin-top: 25%;
	margin-left: 2%;
}